#panelboard {
    /* Display values */
    display: flex;
    /* If content exceeds background size, wrap the content to the next line. */
    flex-wrap: wrap;
    /* Use relative positioning. */
    position: relative;
    /* Background */
    background-image: linear-gradient( rgb(221, 221, 221), rgb(170, 170, 170));
    border: 3px solid rgb(180, 180, 180);
    box-shadow: 3px 3px 10px rgb(200, 200, 200), -3px -3px 10px rgb(200, 200, 200);
    padding: 0px 0px 10px 0px;
    /*margin: 30px;*/
}

/* Properties for the workspace. */
#workspace {
    box-sizing: content-box;
    /* Present objects in a flex style */
    display: flex;
    /* If content exceeds background size, hide the content. */
    overflow: hidden;
    /* Use relative positioning. */
    background-image: linear-gradient( rgb(221, 221, 221), rgb(170, 170, 170));
    border: 3px solid rgb(180, 180, 180);
    box-shadow: 3px 3px 10px rgb(200, 200, 200), -3px -3px 10px rgb(200, 200, 200);
}

#workspace * {
    /*position: absolute;*/
    box-sizing: content-box;
}

/* Do not want the #workspaces to be centered */
.container.nomargin {
    margin-left: 0;
}

/* Properties for the cartoon viewport. */
.panel {
    /* Keep the panels separate. */
    margin: 10px 0px 0px 10px;
    /* Display properties */
    position: relative;
    height: 400px;
    width: 400px;
    /* Border properties */
    border: 6px solid rgb(0, 0, 0);
    box-shadow: 6px 6px 10px;
    /* Use a linear gradient as the background image */
    background-image: linear-gradient(rgb(238, 238, 238), rgb(204, 204, 204));
    /* Hide any elements that may appear outside of a panel's borders. */
    overflow: hidden;
}

/* Properties for the workspace viewport. */
.workview {
    /*display: block;*/
    /* Display properties */
    position: absolute;
    /* Border properties */
    border: 0.5vw solid rgb(0, 0, 0);
    box-shadow: 0.5vw 0.5vw 0.75vw;
    /* Use a linear gradient as the background image */
    background-image: linear-gradient(rgb(238, 238, 238), rgb(204, 204, 204));
    /* Hide any elements that may appear outside of a panel's borders. */
    overflow: hidden;
}

.panel img {
    max-width: none;
}

/* Default box sizing behavior: Borders and padding are separate when calculating box height and width */
/* This messes with some bootstrap */
/* {box-sizing: content-box;} */
#panelboard > *:first-child {
    margin-top: 10px;
}

span {
    display: inline;
}

/*
 *
 * chat
 * 
 */

 .chatbubble {
    position: absolute;
    /*display: inline-block;*/
    /*display: inline;*/
    /*Don't let the chat bubbles grow too big. */
    /*max-width: 90%;*/
    /* The default chat bubble should be about 2 pixels below the start of the parent element. */
    background: rgb(255, 255, 255);
    border: 0.6vw solid rgb(0, 0, 0);
    /* Chatbubbles tend to look bubbly */
    border-radius: 5vw;
    /* Don't let the inner text get too close to the bubble. */
    padding: .5vw 1.5vw .5vw 1.5vw;
    /* The font size should be just big enough to read. */
    font-size: 18px;
    /* Use a nice basic font */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* Make the spaces between text lines just large enough to read. */
    line-height: 1.2;
    text-align: center;
}

.workbubble {
    font-size: 2.1vw;
}

.chatarrow {
    /* Chat arrows can be made using the triangle div hack. */
    position: absolute;
    /* The top of the chat arrow is just below the bottom of it's parent chat bubble. */
    top: 105%;
    border-top: 50px solid rgb(0, 0, 0);
}

.jumbotron {
    margin: 0px;
    padding: 0px 0px;
    background: #9575CD;
    color: floralwhite; 
    overflow: hidden;
}

#jumboimage {
    position: relative;
    left: -5%;
    width: 110%;
    height: 10%;
}

.particles-js {
    position: absolute;
    width: 100%;
    height: 30%;
}

.navbar-dark {
    background-color: rgba(120, 30, 120, 1);
}

/*
 *
 * media
 *
 */

/* Make the default panelboard width approximately wide enough to hold a single panel. */
#panelboard {
    width: 420px;
    max-width: 420px;
}

/* Make the workspace responsive */
#workspace {
    padding: 0.4vw;
    width: 72vw;
    height: 40.5vw;
}

.workview {
    width: 70.8vw;
    height: 39.4vw;
}


/* If the screen is large enough to display two panels at once, make the panelboard large enough
   to comfortably hold two panels. */
@media only screen and (min-width: 768px) {
    #panelboard {
        width: 420px;
        max-width: 420px;
    }
}


@media only screen and (min-width: 1200px) {
    #panelboard {
        /* if the screen is large enough t display four panels at once, make the panelboard large enough to
           comfortably hold four panels. */
        width: 850px;
        max-width: 850px;
    }
}

