.jumbotron {
    background: rgba(210, 130, 150, 0.1);
}

.row-content {
    padding: 10px 0 10px 0;
}

.footer {
    background-color: rgba(245, 220, 235, 1);
}

#patchmaudecarousel img {
  margin: auto;
}
#thedivscarousel img {
  margin: auto;
}

#vizcarousel img {
  margin: auto;
}

.carousel .carousel-item img {
  max-height: 300px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(60%);
}

/* Make sure we can see the text in the carousels */
.carousel-caption.d-none.d-md-block {
  box-shadow: 0px 0px 0px 19px rgba( 245, 245, 251, 0.03),
              0px 0px 0px 20px rgba( 30, 30, 40, 0.03);
              
  background: rgba( 210, 190, 220, 0.6);
  display: block!important;
}