body{
    background-color: rgba(255, 255, 250);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */

    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

.modal-content label {
    text-align: right;
}

.modal-content label {

}

/* Container for the project menu. */
.projectmenu ul, .projectmenu #myUL{
    list-style-type: none;
}

.projectmenu #myUL{
    margin: 0;
    padding: 0;
}

.projectmenu .caret, .projectmenu li{
    cursor: pointer;
    user-select: none;
}

.projectmenu .caret::before {
    content: '\25B6';
    color: black;
    display: inline-block;
    margin-right:6px;
}

.projectmenu .caret-down::before {
    transform: rotate(90deg);
}

.projectmenu .nested {
    display: none;
}

.projectmenu .active {
    display: block;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#svgSimple {
    height: 100%;
}

.d3viz {
    height: 60%;
    width: 100%;
    border: 3px solid rgba(0, 0, 0, 1);
}