body{
    background-color: rgba(255, 255, 250);
}

/* Hide File input elements. */
input[type="file"] {
    display: none;
}

/* Style the file open menu item. */
.custom-file-upload {
    border: none;
    display: inline-block;
}

#svgSimple {
    height: 100%;
}

.d3viz {
    height: 60%;
    width: 100%;
    border: 3px solid rgba(0, 0, 0, 1);
}