#panelboard {
    /*box-sizing: content-box;*/
}

.inpanel {
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.paperroll{
    width: 100vw;
    height: 100px;
    padding: 0;
    background-color: rgba(230, 230, 180, 0.5);
    background-image: url('/png/beige-paper.png');
}

.paperroll.top{
    box-shadow: 0vw 1vw 1vw rgba(0, 0, 0, 0.45) ;
    margin: 0vw 0px 2vw -15px;
}

.paperroll.bottom{
    box-shadow: 0vw -1vw 1vw rgba(0, 0, 0, 0.45) ;
    margin: 2vw 0px 0px -15px;
}

.showcase.viz001 {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 40%;
    height: 80%;
    overflow: scroll;
    transform: rotateY(5deg) rotateZ(0.2deg) rotateX(-1deg);
    border: 3px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 0px 20px rgba(255, 245, 245, 1),
                0px 0px 0px 21px rgba(0, 0, 0, 1),
                0px 0px 30px 10px rgba(0, 0, 0, 1);
}

.showcase.viz002 {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 40%;
    height: 80%;
    overflow: scroll;
    transform: rotateY(5deg) rotateZ(0.2deg) rotateX(-1deg);
    border: 3px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 0px 20px rgba(255, 245, 245, 1),
                0px 0px 0px 21px rgba(0, 0, 0, 1),
                0px 0px 30px 10px rgba(0, 0, 0, 1);
}

.showcase.viz003 {
    position: absolute;
    top: 10%;
    left: 65%;
    width: 25%;
    height: 80%;
    overflow: scroll;
    transform: rotateY(5deg) rotateZ(0.2deg) rotateX(-1deg);
    border: 3px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 0px 20px rgba(255, 245, 245, 1),
                0px 0px 0px 21px rgba(0, 0, 0, 1),
                0px 0px 30px 10px rgba(0, 0, 0, 1);
}

.d3viz {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.d3viz table {
    background-image: url('../png/beige-paper.png')
}

.d3viz table th {
    /*make sure the table header stays at the top of the table */
    position: sticky;
    top: 0;
    background-color: rgba(240, 230, 230, 1);
}

/* alternating table row colors */
.d3viz .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(255, 250, 250, 0.8);
}
.d3viz .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: rgba(250, 250, 255, 0.8);
}

/*make sure the selectbox dropdown doesnt go too far.*/
#dropdown_states {
    max-height:200%;
    overflow-y: auto;
}

/*
 *
 * Chart specific
 *
 */
#d3viz002 #body{
    left: 50%;
    top: 50%;
    transform: translate(150px, 150px);
}

/*
 *
 * buttons
 *
 */
.btn {
    position: relative;
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform-style: flat;
    transition: all 250ms ease-out;
}

.btn:before,
.btn:after {
    content: "";
    position: absolute;
    z-index: -2;
    transition: all 250ms ease-out;
}
  /* Paper effect – slightly raised off background */
  
.paper {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
    border-color: #dedede;
}

.paper-curl-right:before,
.paper-curl-right:after {
  bottom: 12px;
  width: 50%;
  height: 55%;
  max-width: 200px;
  max-height: 100px;
  box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.6);
}

.paper-curl-right:before {
  left: 10px;
}

.paper-curl-right:after {
  right: 10px;
}

.paper-curl-right:hover:before,
.paper-curl-right:hover:after {
  box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.8);
}

.paper-curl-right:hover:before {
  transform: skew(-8deg) rotate(-3deg);
}

.paper-curl-right:hover:after {
  transform: skew(8deg) rotate(3deg);
}

.paper-curl-right:before {
  display: none;
}

.paper-curl-right:hover {
  border-radius: 0 0 40% 0 / 0 0 30% 0;
}

.paper-raise-flatten {
    border-color: rgba(190, 190, 190, 0.5);
    box-shadow: none;
}

.paper-raise-flatten:before {
top: 0;
left: 0;
width: 100%;
height: 100%;
box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.paper-raise-flatten:hover {
border-color: #dedede;
}

.paper-raise-flatten:hover:before {
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
}

/*
 *
 * Scenery
 *
 */

.paneltop {
    background: rgba(220, 230, 255, 1.0);
}

/*
 *
 * Characters
 *
 */

.patch {
    position: absolute;
    top: 60%;
    left: 2%;
    width: 15%;
}

.maude {
    position: absolute;
    top: 57%;
    left: 18%;
    width: 14%;
}

.bgd {
    position: absolute;
}

.bgd00 {
    position: absolute;
    top: -2%;
    left: -2%;
    height: 105%;
    width: 105%;
}

.bgd01 {
    position: absolute;
    top: -10%;
    left: -10%;
    height: 105%;
    width: 210%;
}

.bgd02 {
    position: absolute;
    top: 30%;
    left: -2%;
    height: 105%;
    width: 105%;
}

.bgd03 {
    position: absolute;
    top: 70%;
    left: 70%;
    height: 20%;
    width: 20%;
}

.bgd04 {
    position: absolute;
    top: 60%;
    left: -10%;
    height: 105%;
    width: 70%;
}

/*
 *
 * chat
 *
 */

.chatbubble {
    border: 5vw solid rgb(0, 0, 0, 1);
    text-align: center;
 }

.chatarrow {
    transform-origin: top left;
}

.chatbubble.patchsays {
    top: 1%;
    left: 1%;
    width: 39%;
}

.chatarrow.patchsays {
    border-right: 1.2vw solid transparent;
    border-left: 0.4vw solid transparent;
    border-top: 3vw solid;
    top: calc(100% + 1px);
    left: 15%;
}

.chatbubble.maudesays {
    top: 1%;
    left: 20%;
    width: 20%;
}

.chatarrow.maudesays {
    border-right: 1.2vw solid transparent;
    border-left: 0.4vw solid transparent;
    border-top: 2.5vw solid;
    top: calc(100% + 1px);
    left: 15%;
}


/*
 *
 * animations
 * 
 */
.bgd01 {
    /* move the clouds to the right. */
    -webkit-animation: bgd01 20s linear infinite;
            animation: bgd01 20s linear infinite;
    -webkit-animation-play-state: running;
            animation-play-state: running; }
  
  /* move the clouds to the right. */
  @-webkit-keyframes bgd01 {
    from {
        -webkit-transform: translateX(-48%);
        transform: translateX(-48%); } 
    to {
        -webkit-transform: translateX(2.6%);
        transform: translateX(2.6%); }  }
  @keyframes bgd01 {
    from {
        -webkit-transform: translateX(-48%);
        transform: translateX(-48%); } 
    to {
        -webkit-transform: translateX(2.6%);
        transform: translateX(2.6%); }  }
.bgd02 {
    /* rotate the background a little and alternate forever. */
    -webkit-animation: bgd02 3s alternate infinite;
            animation: bgd02 3s alternate infinite;
    -webkit-animation-play-state: running;
            animation-play-state: running; }
    
    /* rotate the background a little and alternate forever. */
    @-webkit-keyframes bgd02 {
    from {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg); } 
    to {
        -webkit-transform: rotateZ(-0.1deg);
                transform: rotateZ(-0.1deg); } }
    @keyframes bgd02 {
        from {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg); } 
    to {
    -webkit-transform: rotateZ(-0.1deg);
            transform: rotateZ(-0.1deg); } }

.bgd03 {
    /* rotate the background a little and alternate forever. */
    -webkit-animation: bgd03 4s alternate infinite;
            animation: bgd03 4s alternate infinite;
    -webkit-animation-play-state: running;
            animation-play-state: running; }
    
    /* rotate the background a little and alternate forever. */
    @-webkit-keyframes bgd03 {
    from {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg); } 
    to {
        -webkit-transform: rotateZ(1deg);
                transform: rotateZ(1deg); } }
    @keyframes bgd03 {
        from {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg); } 
    to {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg); } }